#labs, #homework, #classwork, #semester-project {
	list-style-type: none;
}

.success a {
	color: white;
}

.portfolio-item, .homework-div {
	text-align: center;
}

.portfolio-item > div {
	display: none;
}